        <div class="innerbox animated">
            <div class="unload">
                <div class="unloadText">
                    未上传
                </div>
            </div>
            <div class="load">
                <div class="container">
                    <div class="loading">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="loaded">
                <div class="loadedText">
                    已上传
                </div>
            </div>
            <picture>
                <source srcset="{{ data.src }}">
                <img src="{{ data.src }}">
            </picture>
        </div>