<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if request.user.is_authenticated %}
{{name}}
<div>
    <h4>你好，{{ request.user.username }}</h4>
    <h4><a href="accounts/logout/">退出</a></h4>
</div>
{% else %}
<h4>登录</h4>
<!--消息框架-->
{% if message %}
{{ message }}
{% endif %}
 <form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
        {% endfor %}
      <div class="button-wrapper submit">
         <input type="submit" value="登录" />
      </div>
   </form>
    <a href="/accounts/register">注册</a>
 {% endif %}
</body>
</html>