<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html">
        <meta name="author" content="coiline">
        <meta name="description" content="一个框">
        <meta charset="UTF-8">
        <title>Stage</title>
        <link type="text/css" rel="stylesheet" href="static/css/layout.css" />
        <link type="text/css" rel="stylesheet" href="static/css/index.css" />
    </head>
    <body>
        <div class="box animated">
            <div class="frontbox" draggable="false">
                <div class="close">X</div>
            </div>
            <div class="midbox">
                <div class="innerbox animated">
                    <div class="title" >主体</div>
                    <div class="chatbox" >
                    </div>
                    <div class="textbox" >
                        <input class="textarea" type="text">
                        <div class="sendbutton">
                            <div class="sendarrow">←</div>
                        </div>                             
                    </div>
                </div>
            </div>
            <div class="backbox">这里是设置</div>
        </div>
        <div class="resizeBox">
                <div class="resizer leftUp">
                    <!--<div class="innerResizer"></div>-->
                </div>
                <div class="resizer rightUp">
                    <!--<div class="innerResizer"></div>-->
                </div>
                <div class="resizer leftDown">
                    <!--<div class="innerResizer"></div>-->
                </div>
                <div class="resizer rightDown">
                    <!--<div class="innerResizer"></div>-->
                </div>
        </div>
        <!--
        <script src="static/js/jquery-3.4.1.min.js"></script>
        <script src="static/js/template.js"></script>
        <script src="static/js/box.js"></script>
        <script src="static/js/index.js"></script>
        -->
    </body>
</html>