<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html">
        <meta name="author" content="coiline">
        <meta name="description" content="一个框">
        <meta charset="UTF-8">
        <title>Stage</title>
        <link type="text/css" rel="stylesheet" href="static/css/layout.css" />
        <link type="text/css" rel="stylesheet" href="static/css/index.css" />
        <link type="text/css" rel="stylesheet" href="static/css/index-extend.css" />
    </head>
    <body>
        {% if request.user.is_authenticated %}
            <h4><a href="#">{{ request.user.username }}</a></h4>
            <h4><a href="accounts/logout/">退出</a></h4>
        {% else %}
            <h4><a href="accounts/login/">登录</a></h4>
            <h4><a href="accounts/register/">注册</a></h4>
        {% endif %}
        {% csrf_token %}
        <script src="static/js/jquery-3.4.1.min.js"></script>
        <script src="static/js/template.js"></script>
        <script src="static/js/box.js"></script>
        <script src="static/js/index.js"></script>
    </body>
</html>